# SQL ALCHEMY

In [1]:
from sqlalchemy import create_engine
import pandas as pd

In [2]:
SERVER = 'LAPTOP-BOVPG567\SQLEXPRESS01'
DATABASE = 'data extract'
DRIVER = 'SQL Server Native Client 11.0'
USERNAME = 'abcd'
PASSWORD = 'abcd@2019'
DATABASE_CONNECTION = f'mssql://{USERNAME}:{PASSWORD}@{SERVER}/{DATABASE}?driver={DRIVER}'

In [3]:
engine = create_engine(DATABASE_CONNECTION)
connection = engine.connect()

In [4]:
data = pd.read_sql_query("select top 1 * from [data extract].[dbo].[Border_Crossing_Entry_Data$] order by [ID] desc", connection)

In [5]:
data.dtypes

ID                  float64
Port Name            object
State                object
Port Code           float64
Border               object
Date         datetime64[ns]
Measure              object
Value               float64
Location             object
dtype: object

In [6]:
data

,ID,Port Name,State,Port Code,Border,Date,Measure,Value,Location
0,60000.0,Metaline Falls,Washington,3025.0,US-Canada Border,2014-01-06,Buses,2.0,POINT (-117.30000000000001 49)

In [7]:
data.iloc[0,2]="minneapolis"
data.iloc[0,0]=data.iloc[0,0]+1

In [8]:
data

,ID,Port Name,State,Port Code,Border,Date,Measure,Value,Location
0,60001.0,Metaline Falls,minneapolis,3025.0,US-Canada Border,2014-01-06,Buses,2.0,POINT (-117.30000000000001 49)

In [9]:
data.to_sql('Border_Crossing_Entry_Data$', con=engine, if_exists='append', index=False, chunksize=50)